<div class="form-container">
  <div [formGroup]="userData">
    <label for="city">City:</label>
    <input type="text" id="city" formControlName="city" required>

    <label for="monthlyIncome">Monthly Income:</label>
    <input type="number" id="monthlyIncome" formControlName="monthlyIncome" required>

    <label for="downPayment">Down Payment:</label>
    <input type="number" id="downPayment" formControlName="downPayment" required>

    <label for="loanAmount">Loan Amount:</label>
    <input type="number" id="loanAmount" formControlName="loanAmount" required>

    <input type="checkbox" id="bankrupt" formControlName="bankrupt">
    <label for="bankrupt">History of Bankruptcy</label>

    <br/> 
    <input type="checkbox" id="documents" class="ml-2" formControlName="hasAllDocuments">
    <label for="documents">All Documents Available</label>
  </div>

  <button type="submit" [disabled]="!userData.valid" (click)="makeDecision()">Submit</button>

  <div *ngIf="decision">
    Decision: {{ decision }}
  </div>
</div>